.aboutus-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutus-image {
  width: 700px;
  height: auto;
  border-radius: 30px;
  /* position: relative;
  bottom: 50px; */
  z-index: 2;
}

.aboutus-title {
  color: white;
  font-size: 50px;
  position: relative;
  bottom: 40px;
}

.image-logo {
  width: 200px;
  height: 200px;
  min-height: 200px;
  margin-left: 90px;

  position: relative;
  bottom: 50px;
}

@media (max-width: 1188px) {
  .aboutus-title {
    margin-top: 50px;
  }
  .aboutus-image {
    display: none;
  }
}

@media (max-width: 900px) {
  .image-logo {
    display: none;
  }
}

.spacer {
  margin-top: 100px;
}
