.map-container,
.App .map {
  font-family: "Arial", sans-serif;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.map-container__top-bar {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.panel-wrapper {
  display: flex;
}
.leaflet-map,
.LeafletMap {
  height: 70vh;
  width: 99.9%;
}

.buttons-group button {
  background-color: lightskyblue;
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons-group button:hover {
  background-color: #3079ed;
}

input[type="text"] {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 200px;
  border-radius: 2px;
}

.location-name {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.location-address {
  margin: 0;
  font-size: 14px;
}

.section-header {
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.left-panel {
  background: #f8f8f8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}

.table-container {
  overflow-y: auto;
  max-height: 70vh;
  margin-bottom: 1rem;
}

.table-style {
  width: 100%;
  border-collapse: collapse;
}

.table-style td {
  text-align: left;
  padding: 1rem;
  border: 2px solid #ddd;
  padding: 2rem 1rem;
  background-color: #fff;
  margin-bottom: 2rem;
}

.table-style th {
  background-color: #f8f8f8;
}
.table-style__name {
  font-weight: 900;
  font-size: 1em;
}

.table-style__address {
  color: grey;
  margin-top: 0.5rem;
}
.table-style__maptitle {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}

.right-panel {
  flex: 2;
  border-bottom: 1px solid #000000;

  border-right: 1px solid #000000;
}

.public-transport-route {
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
  font-size: 16px;
  background: #fff;
  padding: 1rem;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

.distance-slider {
  color: #333;
}

.public-transport-route:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.home-waypoint-form {
  background-color: #f8f8f8;
  padding-left: 1rem;
}

.coordinates-display {
  margin-top: 0.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  @media (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%);
    }

    .sidebar.open {
      transform: translateX(0);
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
