/* tailwind.css or custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-customRed {
  background-color: #f7776b;
}

.text-customRed {
  color: #f7776b; /* Corrected from background-color */
}

.bg-customRed-active {
  background-color: #ff1500;
}

.border-customRed {
  border-color: #f7776b; /* Adjusted to border-color */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.animate-fadeIn-notfound {
  animation: fadeIn 2s ease-in-out;
}

.modal input[type="text"] {
  width: 462px;
}


