/* tailwind.css or custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-customRed {
  background-color: #f7776b;
}

.text-customRed {
  background-color: #f7776b;
}

.bg-customRed-active {
  background-color: #ff1500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
