@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500");

body {
  background-color: rgb(249, 250, 251);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.heading-box {
  top: 0px;
  width: 100%;
  margin: 10px;
  background-color: #f7776b;
  border-radius: 10px;

  height: 400px;
  font-size: 20px;
  font-weight: 500;

  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  width: 100%;
  position: absolute;
  left: -10px;
  z-index: -2;
}

.heading-box-waves {
  top: 505px;
  width: auto;
  height: 400px;
  position: absolute;
  left: -10px;
  z-index: -2;
}

.top-box-entry-page {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f7776b;
  /* border-radius: 10px; */

  justify-content: space-between;
  padding: 10px;

  position: fixed;
  width: 100%;
  /* border-radius: 10px; */
  top: 0px;
  left: -1px;
  z-index: 1;
}

.logo-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title-heading {
  font-weight: 700;
  font-size: 25px;
  color: white;
  z-index: -1;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 10;

  margin-bottom: 100px;
}

.key-features {
  position: relative;
  bottom: 120px;
}

.key-features .title {
  text-align: center;
  margin-bottom: 80px;
  color: black;
  font-size: 60px;
  font-weight: 700;
  opacity: 0.9;
}

.first-hdb-image {
  width: 800px;
  height: 800px;
  border-radius: 10px;
}

.page-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;

  width: 100%;
}

.desc-heading {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
}

.desc-heading-second {
  font-size: 40px;
  font-weight: 700;
  text-align: right;
  margin-right: 100px;
}

.apostrophe-image {
  height: 40px;
  width: auto;
  transform: scaleX(-1);
}

.apostrophe-image-second {
  height: 40px;
  width: 40px;
  margin-right: 100px;
}

.save-time-image {
  height: 250px;
  width: auto;
  margin-left: 80px;

  position: relative;
  bottom: 60px;
}

.streetmap-image {
  height: 280px;
  width: auto;
  margin-right: 80px;

  position: relative;
  bottom: 60px;
}

.description-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.description-box-second {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.description {
  margin-top: 20px;
  width: 65%;
  line-height: 1.5;
  font-size: 20px;
  opacity: 0.8;
  margin-left: 20px;
}

.description-second {
  text-align: right;
  width: 65%;
  margin-top: 20px;
  width: 65%;
  line-height: 1.5;
  font-size: 20px;
  opacity: 0.8;
  margin-right: 20px;
}

.get-started-button {
  background-color: #fa003d;
  border-radius: 12px;
  padding: 20px 20px;
  margin-right: 40px;
  font-size: 18px;
  font-weight: bold;

  color: rgb(255, 255, 255);
  text-decoration: none;
}

.get-started-button:hover {
  background-color: white;
  color: #fa003d;
  padding-left: 60px;
  padding-right: 60px;
  transition: 0.2s;
}

.heading-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.heading-text .title,
.heading-text .description {
  color: white;
}

.heading-text .title {
  font-size: 35px;
}

.heading-text .description {
  line-height: 1.7;
  font-size: 18px;
  width: 100%;
  margin-bottom: 90px;
}

/* Define breakpoints for different screen sizes */
@media (max-width: 1280px) {
  .image-style {
    display: none;
  }
  .ge-footer {
    display: none;
  }
  .heading-box {
    height: 200px;
  }
  .heading-text {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .heading-box {
    height: 300px;
  }
  .image-style {
    height: 400px;
    width: 711px;
  }
}

/* For elements with animation type 1 */

.anim-1 {
  opacity: 0;
  transition: 1s; /* Smooth transition */
  filter: blur(2px);
  transform: translateX(-20%);
}
.animate {
  opacity: 1; /* Make visible when 'animate' class is applied */
  filter: blur(0);
  transform: translateX(0%);
  transition: 1s;
}

/* For elements with animation type 2 */

.anim-2 {
  margin-top: 100px;
  opacity: 0; /* Initially hidden */
  /* transition: opacity 1s ease; */
  transition: 1s; /* Smooth transition */
  filter: blur(5px);
  transform: translateX(-20%);
}

.anim-2.animate {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
  transition: 1s;
}

.anim-3 {
  margin-top: 100px;
  opacity: 0; /* Initially hidden */
  transition: 1s; /* Smooth transition */
  filter: blur(5px);
  transform: translateX(20%);
}

.anim-3.animate {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
  transition: 1s;
}

.logos {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 100px;
}

.logos * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 20px;
}

.top,
.bottom {
  gap: 400px;
  display: flex;
  flex-wrap: wrap;
}

.logo-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;

  max-width: 400px;

  opacity: 0;
  /* transition: opacity 1s ease; */
  transition: 0.5s;
  filter: blur(2px);
  transform: translateX(-100%);
}

.logo-block.animate {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
  transition: 1s;
}

.logo-block .header {
  font-size: 22px;
  font-weight: 700;
  /* transition-delay: 400ms; */
}

.logo-block .logo-description {
  font-size: 18px;
  opacity: 0.8;
  /* transition-delay: 600ms; */
}

.logo-block:nth-child(2) {
  transition-delay: 200ms;
}

.logo-block:nth-child(3) {
  transition-delay: 400ms;
}

.logo-block:nth-child(4) {
  transition-delay: 600ms;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;

  background-color: #f7776b;

  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  left: -7px;
  bottom: -8px;
}

.image-title {
  display: flex;
}

.title-and-tagline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bto-logo-bottom {
  position: relative;
  right: 20px;
}

.footer-title {
  font-weight: 400;
  font-size: 60px;
  color: white;
  z-index: 1;
  margin-bottom: 20px;
}

.footer-title-tagline {
  color: white;
  font-size: 20px;

  position: relative;
  left: 30px;
  bottom: 8px;
}

.get-started-button-footer {
  background-color: #fa003d;
  border-radius: 12px;
  padding: 20px 20px;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  /* border: 1px solid black; */
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 200px;

  &:hover {
    background-color: white;
    color: #fa003d;
    padding-left: 60px;
    padding-right: 60px;
    transition: 0.2s;
  }
}

.footer-line {
  opacity: 1;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.bto-image-footer {
  width: 400px;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 100px;
}