/* tailwind.css or custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input[type="text"] {
  width: 400px;
}

.border-customRed-500 {
  border-color: #f7776b;
}

.ring-customRed-500 {
  border-color: #f7776b;
}

.bg-customRed {
  background-color: #f7776b;
}

.text-customRed {
  background-color: #f7776b;
}

.bg-customRed-active {
  background-color: #ff1500;
}
