/* css page for the planner */

/* @font-face {
    font-family: 'Inter-Regular';
    src: local('Inter-Regular'), url('C:/Users/Gokul/Desktop/Inter/static/Inter-Regular.ttf') format('truetype');
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500");

body {
  background-color: rgb(249, 250, 251);
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  background-color: #f7776b;
  border-radius: 10px;

  height: 35px;
  font-size: 20px;
  font-weight: 500;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  min-width: 600px;
}

.options *,
.logo-link {
  /*for all the links*/
  text-decoration: none;
  color: rgb(124, 38, 27);
  padding: 4px;

  border-bottom: 2px solid transparent;
}

.options {
  display: flex;
  justify-content: space-evenly;
  gap: 14px;
}

.options *:hover,
.logo-link:hover {
  color: white;
  /* border-bottom: 2px solid white;  */
  cursor: pointer;
  transition-duration: 0.2s;
}

.contents-box {
  display: block;
  margin-top: 10vh;
}

.options-box {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-link,
.dashboard-link,
.planner-link {
  background-color: #f7776b;
  padding: 10%;
  margin: 0 5px;
  border-radius: 5px;
  color: black;
  width: 20vb;
  height: 20vh;
  font-weight: bold;
}

.boxcontainer {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.linkbox {
  margin: 0 10px;
  width: 400px;
  height: 600px;
  background-color: #f7776b;
  border-radius: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Ensure text remains in front */
}

.linkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1; /* Ensure pseudo-element is behind the text */
}

.linkbox:hover::before {
  opacity: 1;
}

.linkbox:hover {
  color: white; /* Change text color on hover */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Add black outline */
}

.linkbox.btosearch::before {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url("../assets/yellowhdb.jpeg");
}

.linkbox.dashboard::before {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url("../assets/redhdb.jpg");
}

.linkbox.planner::before {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url("../assets/greenhdb.jpg");
}
